* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-wrap: wrap;
}

body {
    font-family: sans-serif;
    background-color: #fff;
}

header {
    background-color: #333;
    color: #fff;
}

header .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
}

header form {
    display: flex;
    align-items: center;
}

header input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

header button {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #000;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

/* Main */
main {
    background-color: #f6f6f6;
}

.left-section, .right-section {
    flex: 1;
    padding: 20px;
}

.top-bar {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.left-section {
    margin-right: 90px;
    display: flex;
    flex-direction: column;
}

.list-story {
    flex-basis: 100%;
}

.truyen-de-cu {
    display: flex;
    flex-wrap: wrap;
  }
  
  .truyen-de-cu h2 {
    text-align: center;
    font-size: 18px;
    margin: 0;
  }
  
  .danh-sach-truyen {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .truyen {
    margin: 10px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    float: left;
  }
  
  .truyen img {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
  }
  
  .truyen h3 {
    font-size: 16px;
    margin: 0;
  }
  
  .truyen p {
    font-size: 14px;
    margin: 5px 0;
  }
  
  .truyen .the-loai {
    font-size: 12px;
    color: #999;
  }

  .danh-muc-truyen {
    display: flex;
    flex-wrap: wrap;
  }

  .the-loai {
    margin-top: 10px;
  }
  
  .danh-muc-truyen h2, .the-loai h2 {
    text-align: left;
    font-size: 18px;
    margin: 0;
    width: 100%;
  }
  
  .danh-muc-truyen ul, .the-loai ul {
    list-style: none;
    padding: 5px;
    margin: 5px;
    
  }
  
  .danh-muc-truyen ul li, .the-loai ul li {
    display: block;
    margin: 15px;
  }
  
  .danh-muc-truyen ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .danh-muc-truyen ul li a:hover {
    background-color: #f2f2f2;
  }
  
