* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-wrap: wrap;
}

body {
    font-family: sans-serif;
    background-color: #fff;
}

header {
    background-color: #333;
    color: #fff;
}

header .container {
    max-width: 1200px;
    margin: 0;
    padding: 10px 20px;
}

header form {
    display: flex;
    align-items: center;
}

header input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 500px;
}

header button {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #000;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

/* Main */
main {
    background-color: #f6f6f6;
    padding: 20px;
}

.left-section, .right-section {
    flex: 1;
    padding: 10px;
}

.top-bar {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.left-section {
    margin-right: 90px;
    display: flex;
    flex-direction: column;
}

.list-story {
    flex-basis: 100%;
}

.truyen-de-cu {
    display: flex;
    flex-wrap: wrap;
  }
  
  .truyen-de-cu h2 {
    text-align: center;
    font-size: 18px;
    margin: 0;
  }
  
  .danh-sach-truyen {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .truyen {
    margin: 10px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    float: left;
  }
  
  .truyen img {
    width: 100%;
    height: 155px;
    margin-bottom: 10px;
  }
  
  .truyen h3 {
    font-size: 16px;
    margin: 0;
  }
  
  .truyen p {
    font-size: 14px;
    margin: 5px 0;
  }
  
  .truyen .the-loai {
    font-size: 12px;
    color: #999;
  }

  .danh-muc-truyen {
    display: flex;
    flex-wrap: wrap;
  }

  .the-loai {
    margin-top: 10px;
  }
  
  .danh-muc-truyen h2, .the-loai h2 {
    text-align: left;
    font-size: 18px;
    margin: 0;
    width: 100%;
  }
  
  .danh-muc-truyen ul, .the-loai ul {
    list-style: none;
    padding: 5px;
    margin: 5px;
    
  }
  
  .danh-muc-truyen ul li, .the-loai ul li {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 12px;
  }
  
  .danh-muc-truyen ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
  }
  
  .danh-muc-truyen ul li a:hover {
    background-color: #f2f2f2;
  }

.truyen-moi-cap-nhat {
  flex: 1;
  padding: 10px;
  margin-right: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-bottom: 20px;
}

.truyen-moi-cap-nhat h2 {
  text-align: left;
  font-size: 18px;
  margin: 0;
}

.truyen-moi-cap-nhat ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.truyen-moi-cap-nhat ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

.truyen-moi-cap-nhat ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.truyen-moi-cap-nhat ul li .date {
  color: #777;
  font-size: 12px;
}

.truyen-moi-cap-nhat ul li a:hover {
  text-decoration: underline;
}

.truyen-hay h2 {
  font-size: 18px;
  text-align: left;
  margin: 0;
}

.truyen-hay ul {
  list-style: none;
  padding: 5px;
}

.truyen-hay ul li {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.truyen-hay ul li a {
  text-decoration: none;
  color: #333;
}

.truyen-hay ul li h3 {
  margin: 0;
  font-size: 16px;
}

.truyen-hay ul li p {
  margin: 5px 0;
  color: #777;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

footer .container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}

footer p {
  margin: auto;
}